/* font */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared */
.first-btn{
    background-color: white;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
}
/* nav */
#navbar{
    width: 1440px;
    height: 120px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 150px;
}
.nav-name{
    font-weight: 800;
    font-size: 28px;
    color: #0D1321;
}
nav ul li{
    list-style: none;
}
/* banner */
#hero{
    width: 1440px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;

    
}
.banner{
    position: absolute;
    width: 998px;
    height: 582px;
    left: 221px;
    right: 221px;
    top: 157px;
    bottom: 4506px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-profile-pic{
    width: 240px;
    height: 240px;
}
.banner-caption{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    width: 998px;
    height: 136px;
    margin: 24px 0px;
}
.banner-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 0px;
}
.second-btn{
    background-color: #0D1321;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 21px 24px;
    border-radius: 8px;
    text-align: center;
}